// Foundations
@import "./foundation/variables";
@import "./foundation/variables_piero";
@import "./foundation/functions";
@import "./foundation/mixins";
@import "./foundation/normalize";
@import "./foundation/grid";
@import "./foundation/animations";

// Elements
@import "./elements/burger";

// Components
//@import "./components/nav-css-animation";
@import "./components/nav-css-animation";

//layout


//Pages
@import "./home";
@import "./about";
@import "./features";
@import "./comment";
 

html,body{
    margin: 0;
    padding : 0;
}

.header{
    &__burgercontainer{
        text-align: right;
    }
    
}