.modal  {

  &__title{
    font-family: $policeTitre;
    color: $main_black;
    font-size: 60px;
  }
  &_social{
    margin-bottom: 50px;
    &__facebook{
        cursor: pointer;
        color: $main_white;
        border-radius: 100%;
        background: #2D88FF;
        padding : 13px 13px 13px 18px;
        margin-right: 15px;
        transition: box-shadow 0.4s cubic-bezier(0.17, 0.67, 1, 1.23), background-color 0.4s cubic-bezier(0.17, 0.67, 1, 1.23);
        &:hover{
            box-shadow: 5px 3px 3px #2c2c2c;
            background: #3d91ff;
        }
    }
    &__google{
        cursor: pointer;
        color: $main_white;
        border-radius: 100%;
        background: #EA4335;
        padding : 13px 15px 13px 15px;
        transition: box-shadow 0.4s cubic-bezier(0.17, 0.67, 1, 1.23), background-color 0.4s cubic-bezier(0.17, 0.67, 1, 1.23);
        &:hover{
            box-shadow: 5px 3px 3px #2c2c2c;
            background: #ec594c;
        }
    }
}
&__group{
    align-content: center;
    text-align: center;
}
&__textsm{
    font-family: $proxima;
    color: $main_blue;
    text-decoration: none;
    &:hover{
        transition-duration: 0.4s;
        color: $main_blue_hover;
    }
}

&__input{
    border: 2px solid $main_black;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 25px;
    font-family: $proxima;
    &:focus{
        transition-duration: 0.4s;
        border: 2px solid $main_orange;
        border-radius: 4px;
        outline: none;
        outline-width: 0;
    }
}

&__check{
    font-family: $proxima !important;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(238, 179, 53, 0.2);
    -webkit-transition: all .275s;
            transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✓';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: $main-orange;
    line-height: 0;
    -webkit-transition: all .2s;
            transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #777;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(238, 179, 53, 0.2);
}
&__button{
    outline:none;
    background: $main-orange;
    color: $main_black;
    font-family: $proxima;
    font-weight: bold;
    font-size: 21px;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    width: 100%;
    transition: background 0.4s cubic-bezier(.17,.67,1,1.23);
    &:hover{
        background: $orange_hover;
        cursor: pointer;
    }
}
&__textsm{
    font-family: $proxima;
    color: $main_blue;
    text-decoration: none;
    &:hover{
        transition-duration: 0.4s;
        color: $main_blue_hover;
    }
}
}


.socialicon-dot {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    font-size: 25px;
  }
  
  .sociallistdot {
    display: inline-block;
    background-color: #474747;
    margin: 15px;
    border-radius: 50%;
    transition: box-shadow 0.4s cubic-bezier(0.17, 0.67, 1, 1.23), background-color 0.4s cubic-bezier(0.17, 0.67, 1, 1.23);
  }
  .sociallistdot:hover {
    box-shadow: 5px 3px 3px #2c2c2c;
    background-color: #6e6e6e;
  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* The Close Button */
  .close {
    color: $main_black;
    float: right;
    font-size: 70px;
    transition: transform 0.4s cubic-bezier(0.17, 0.67, 1, 1.23);

  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    transform: rotate(90deg);
    cursor: pointer;
  }



  /* Modal Header */
.modal-header {
    text-align: center;
    font-family: $policeTitre;
    color: $main_black;
    padding: 2px 16px;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    padding-bottom: 15px;
    border: 1px solid #888;
    width: 500px;
    min-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 100px;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 100px; opacity: 1}
  }